@import "tailwindcss" source("./public/*.{html,js}");
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.door-img {
    width: inherit;
    position: absolute;
}